*{
    margin: 0;
    padding: 0;
}
header{
    background: url('back.jpg');
    height: 400px;
}
div{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0  auto;
    padding: 60px 0 20px;
}
img{
    max-width: 100%;
    border-radius: 50%;
}
.full{
    margin: 0 auto;
    width: 60%;
}
h2{
    margin: 5px 271px;
    font-size: 28px;
    color: rgb(238, 255, 221);
    text-shadow: 1px 1px 5px black;
}
p{
    margin: 2px 340px;
    font-size: 20px;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgb(252, 174, 72);
}
.main{
    margin: 20px 120px 14px;
    color: rgb(71, 86, 218);
    text-shadow: 1px 1px 2px rgb(54, 255, 195);
}
.mainp{
    margin: 2px 260px;
    color: rgb(26, 95, 72);
    text-shadow: 1px 1px 2px rgb(35, 109, 47);
    margin-bottom: 20px;
}
marquee{
    font-size: 20px;
    
}